.photo
    {
        display: flex;
        flex-direction: row;
    align-items: left;
        border: black 1px solid;
        display: flex;
        flex-direction: column;
    }
        
.titre
    {
        display: flex;
        flex-direction: row;
    align-items: center;    
        display: flex;
        flex-direction: column;
        position: relative;
            top: -200px;

    }

.liste {
    padding: 0;
    margin: 0;
    text-align: center;
    
}
.liste li{
    display: inline;
    list-style: none;
    position: relative;
    top: -100px;

}

.liste a{
    display: inline-block;
    margin: 0 30px;
}


.comp  
    {
    text-align: right;
    position: relative;
    right: 100px;
    top: -70px;
    }

.profil
    {
        align-items: center;
    }

.RS
    {
        text-align: right;
    }