body

    {
        color: DarkSlateGrey;
        background-color: aliceblue; 
        padding-left: 10%; padding-right: 10%;
    }
h1
    {
        color:#8B0000; 
        background-color: black ; 
        opacity: 20% ;
        background-color: black ;
        font-size: 45px;
        text-decoration: underline black; 
        padding: 10px;
        margin: 0%;
    } 

h2 
    {
        color: rgb(178, 34, 34);
        font-size: 25px; 
        text-decoration: underline ;
    }

@font-face
    {
    font-family: nasalization-rg;
    src: url('assetsD03/nasalization-rg.ttf'); 
    }

h1, h2 
    {
        font-family: nasalization-rg ; 
        text-align: center;
    }

blockquote{border-width:black 2px;border-style: solid;}

ul, p
    {
        margin-left: 5%; margin-right: 5%;
    }

.container
    {   
        display: flex;
        flex-direction: row
    }    

.left
    {   
        flex-basis: 33%;
    }
.middle
    {
        flex-basis: 33%;
    }
.right
    {
        flex-basis: 33%;
    }

.L1
    {color: green;}

.L2
    {color: green;}